<!--  Replace menu links here -->

{% if page.url == "/" %}
<li class="nav-item active">
    {% else %}
<li class="nav-item">
    {% endif %}
<a class="nav-link" href="{{site.baseurl}}/">Accueil</a>
</li>

{% if page.url == "/categories" %}
<li class="nav-item active">
    {% else %}
<li class="nav-item">
    {% endif %}
<a class="nav-link" href="{{site.baseurl}}/categories">Catégories</a>
</li>

{% if page.url == "/about" %}
<li class="nav-item active">
    {% else %}
<li class="nav-item">
    {% endif %}
    <a class="nav-link" href="{{site.baseurl}}/about">A propos</a>
</li>

{% if page.url == "/contact" %}
<li class="nav-item active">
    {% else %}
<li class="nav-item">
    {% endif %}
<a class="nav-link" href="{{site.baseurl}}/contact">Contact</a>
</li>

<li class="nav-item">
<a target="_blank" class="nav-link" href="https://noir-meilleur.digital">
    by Noir Meilleur <i class="fa fa-external-link-alt"></i>
</a></li>
